/* Element selector */
body {
    background-color: #fafafa;
    margin: 20px;
}

/* Class selector */
.subheading {
    color: darkgreen;
    text-align: center;
    font-family: Verdana, sans-serif;
}

/* Class selector for list */
.event-list li {
    color: #333;
    padding: 5px;
    font-size: 15px;
}
